@font-face {
    font-family: 'logo-font'; 
    src: url('logo-font.otf') format('opentype');
}

@font-face {
    font-family: 'main-font'; 
    src: url('main-font.ttf') format('opentype');
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* LOGO & HEADER */

#logo {
    position: absolute;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 15%;
    top: -1%;
}

#logo1, #logo2, #logo3 {
    font-family: 'logo-font', sans-serif;
    display: inline-block;
    color: #b4cd37;
    -webkit-text-stroke-width: 10px; 
    -webkit-text-stroke-color: #f000d0; 
    position: absolute; 
    font-size: 200px; 
}

#logo1 {
    left: 29%;
    top: -26%;
}

#logo2 {
    left: 47%;
    top: -24%;
}

#logo3 {
    left: 66%;
    top: -23%;
}

/* MAIN CONTENT */

.content {
    margin-top: 200px;
    display: none;
    align-items: center;
}

.content .grid {
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    border: 10px solid #b4cd37;
    border-radius: 20px;
}

/* result shown */
.result {
    display: none;
    height: 400px;
    width: 400px;
    padding: 5px;
    border: 10px solid #b4cd37;
    border-radius: 20px;
    background-color: #f000d0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.result p {
    font-family: 'main-font', sans-serif;
    font-size: 32px;
    color: #b4cd37;
}

.new-game {
    height: 50px;
    width: 150px;
    background-color: inherit;
    border-radius: 20px;
    border: 5px solid #b4cd37;
    color: #b4cd37;
    font-size: 24px;
    font-family: 'main-font', sans-serif;
}

.new-game:hover, .reset-score:hover {
    box-shadow: 1px 1px 5px black;
}

.reset-score {
    height: 50px;
    width: 150px;
    background-color: inherit;
    border-radius: 20px;
    border: 5px solid #b4cd37;
    color: #b4cd37;
    font-size: 24px;
    font-family: 'main-font', sans-serif;
}

.result .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 25px;
}

.result img {
    height: 200px;
    width: 200px;
    margin-bottom: 40px;
}

.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 160px;
    color: #b4cd37;
    font-family: 'main-font', sans-serif;
    overflow: hidden;
}

.grid div p {
    transition: transform 1s;
}

.resize {
    transform: scale(0.6);
}

.content .grid div {
    background-color: #f000d0;
    border-radius: 15px;
}

.content .grid div:hover {
    transform: scale(0.9);
}

.content .left:hover, .content .right:hover {
    transform: scale(1.2);
}

.content .left {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100px;
    border: 10px solid #f000d0;
    border-radius: 20px;
    margin-right: 100px;
}

.content .right {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100px;
    border: 10px solid #b4cd37;
    border-radius: 20px;
    margin-left: 100px;
}

/* PLAYER CARD */

.left, .right {
    color: #f000d0;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.right {
    color: #b4cd37;
    background-color: #f000d0;
}

.left {
    background-color: #b4cd37;
}

.left img, .right img {
    height: 75px;
    width: 75px;
}

.left p, .right p {
    font-size: 22px;
    font-family: 'main-font', sans-serif;
}

.background {
    position: absolute;
    height: 800px;
    width: 800px;
    left: -5%;
    transform: rotate(-135deg);
    z-index: -1;
    border: 10px solid #f000d0;
    border-radius: 20px;
    padding: 10px;
}

.background-2 {
    position: absolute;
    height: 800px;
    width: 800px;
    left: 55%;
    top: -5%;
    transform: rotate(45deg);
    z-index: -1;
    border: 10px solid #b4cd37;
    border-radius: 20px;
    padding: 10px;
}

/* JUMP ANIMATION */

@keyframes jump {
    0% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0); 
    }
  }
  
  .jumping {
    animation: jump 1s infinite; 
  }

  /* MISTAKE ANIMATION */

  @keyframes changeColor {
    0% {
        background-color: #f000d0; 
    }
    50% {
        background-color: red; 
    }
    100% {
        background-color: #f000d0; 
    }
}

.mistake {
    animation: changeColor 1s none;
}

/* START-MENU */

.start-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    width: 100%;
    height: 100%;
    font-family: 'main-font', sans-serif;
    font-size: 32px;
}


.left-menu, .right-menu {
    margin-top: 190px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}  

.left-menu .icon-choice {
    background-color: #f000d0;
    border: 10px solid #b4cd37;
}

.right-menu .icon-choice {
    background-color: #b4cd37;
    border: 10px solid #f000d0;
}

.icon-choice {
    display: grid;
    height: 300px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}

.type, .submit {
    border-radius: 20px;
    height: 50px; 
    font-size: 32px;
    font-family: 'main-font', sans-serif;
}

.submit {
    box-sizing: content-box;
}

.submit:hover {
    transform: scale(1.2);
}

.left-menu .type, .left-menu .submit {
    background-color: #b4cd37;
    border: 10px solid #f000d0;
    color: #f000d0;
}

.right-menu .type, .right-menu .submit {
    background-color: #f000d0;
    border: 10px solid #b4cd37;
    color: #b4cd37;
}

.icon-choice img {
    height: 70px;
    width: 70px;
}

.icon-choice img:hover {
    transform: scale(1.2);
}

.type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    height: 55%;
    width: 60%;
    border-radius: 10px;
    margin-left: 2px;
}

.player {
    height: 55%;
    width: 35%;
    border-radius: 10px;
    margin-right: 2px;
    display: flex;
    align-items: center;
}

.AIButton, .PlayerButton {
    border-radius: 10px;
    height: 65%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AIButton {
    margin-left: 5px;
    width: 30%;
    background-color: inherit;
    border: none;
    font-family: 'main-font', sans-serif;
    font-size: 14px;
    box-sizing: content-box;
}

.left-menu .AIButton {
    color: #f000d0;
}

.right-menu .AIButton {
    color: #b4cd37;
}

.left-menu .PlayerButton {
    color: #b4cd37;
}

.right-menu .PlayerButton {
    color: #f000d0;
}

.PlayerButton {
    background-color: inherit;
    margin-left: 5px;
    width: 60%;
    box-sizing: content-box;
    font-family: 'main-font', sans-serif;
    font-size: 14px;
}

.left-menu .PlayerButton {
    color: #f000d0;
    border: 4px solid #f000d0;
}

.right-menu .PlayerButton {
    color: #b4cd37;
    border: 4px solid #b4cd37;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.name input {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: inherit;
    border: none;
    font-family: 'main-font', sans-serif;
    font-size: 25px;
}

.name input::placeholder {
    font-family: 'main-font', sans-serif;
    font-size: 25px;
}

.left-menu .name input, .left-menu .name input::placeholder {
    color: #f000d0;
}

.right-menu .name input, .right-menu .name input::placeholder {
    color: #b4cd37;
}

button, input {
    outline: none;
}

.otter {
    border: 4px solid #b4cd37;
    border-radius: 20px;
    padding: 4px;
}

.spider {
    border: 4px solid #f000d0;
    border-radius: 20px;
    padding: 4px;
}